.hero {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-color:#d1d1d177;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding: 30px;
}
.formBox {
  max-width: 380px;
  height: max-content;
  margin: 6% auto;
  /* background: #fff; */
  padding: 20px;
  /* box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.541); */
}
.inputGroup {
  display: block;
  margin: 0 auto;
  width: 380px;
  text-align: left;
}
.inputField {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 6px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  /* border-bottom: 1px solid #999; */
  outline: none;
  /* background: transparent; */
  background: white;
  font-size: 1.6rem;
}
.inputField:focus {
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.267);
}
.submitBtn {
  width: 100%;
  padding: 15px;
  cursor: pointer;
  display: block;
  margin:  20px auto;
  background-color:white;
  border: 0;
  outline: none;
  border-radius: 6px;
  font-size: 1.6rem;
}
.submitBtn:hover {
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.267);
}
.label {
  font-size: 1.6rem;
  padding-left: 15px;
}